TP1/codigo/.idea/
*.xml
*.pyc
TP1/informe/workspace.code-workspace
TP1/informe/main.aux
TP1/informe/main.aux
TP1/informe/main.fdb_latexmk
TP1/informe/main.fls
TP1/informe/main.log
TP1/informe/main.synctex.gz
